---
import { profileConfig } from '../../config'

const config = profileConfig

interface Props {
  class?: string
}
const className = Astro.props.class ? ` ${Astro.props.class}` : ''
---
<div class={"card-base p-3" + className}>
    <div class="px-2">
        <h2 class="font-bold text-2xl text-center mb-1 dark:text-neutral-50 transition">{config.name}</h2>
        <div class="h-1 w-10 bg-[var(--primary)] mx-auto rounded-full mb-2 transition"></div>
        <div class="text-center text-neutral-400 mb-2.5 transition">{config.bio}</div>
    </div>
</div>

