---
import { url, pathsEqual } from '@utils/url-utils'
import { profileConfig } from '../../config'

const config = profileConfig

const Heading = pathsEqual(Astro.url.pathname, url('/')) ? 'h1' : 'h2'
---
<div class="card-base p-3">
    <div class="px-2">
        <Heading class="font-bold text-xl text-center mb-1 dark:text-neutral-50 transition">{config.name}</Heading>
        <div class="h-1 w-5 bg-[var(--primary)] mx-auto rounded-full mb-2 transition"></div>
        <div class="text-center text-neutral-400 mb-2.5 transition">{config.bio}</div>
    </div>
</div>

