---
import { url, pathsEqual } from '@utils/url-utils'
import Categories from './Categories.astro'
import Profile from './Profile.astro'
import Tag from './Tags.astro'

const className = Astro.props.class

const isHomePage = pathsEqual(Astro.url.pathname, url('/'))
---
<div id="sidebar" class:list={[className, "w-full"]} data-pagefind-ignore>
  {!isHomePage &&<div class="flex flex-col w-full gap-4 mb-4">
    <Profile></Profile>
  </div>}
  <div id="sidebar-sticky" class="flex flex-col w-full gap-4 top-4 sticky top-4">
    <Categories></Categories>
    <Tag></Tag>
  </div>
</div>
