---
import AlphabeticalPanel from '@components/AlphabeticalPanel.astro'
import Heading from '@components/misc/Heading.astro'
import ImageWrapper from '@components/misc/ImageWrapper.astro'
import I18nKey from '@i18n/i18nKey'
import { i18n } from '@i18n/translation'
import MainGridLayout from '@layouts/MainGridLayout.astro'
import { getSortedPosts, getTagList } from '@utils/content-utils'
import { getTagSlug } from '@utils/url-utils'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths() {
  const posts = await getSortedPosts()

  const allTags = posts.reduce<Set<string>>((acc, post) => {
    // biome-ignore lint/complexity/noForEach: <explanation>
    post.data.tags.forEach(tag => acc.add(getTagSlug(tag)))
    return acc
  }, new Set())

  const allTagsArray = Array.from(allTags)

  return allTagsArray.map(tag => ({
    params: {
      tag: tag.toLowerCase(),
    },
  }))
}

const tag = Astro.params.tag as string
const allTags = await getTagList()
const displayTag = allTags.find(t => getTagSlug(t.slug) === tag)
---

<MainGridLayout title={i18n(I18nKey.archive)} description={i18n(I18nKey.archive)}>
  <div class="card-base px-8 py-6">
    <Icon size="96" name="diplodocus" class="mx-auto mb-2" />
    <Heading>Tag: {displayTag ? displayTag.name : tag}</Heading>
  </div>
  <AlphabeticalPanel tags={[tag]}></AlphabeticalPanel>
</MainGridLayout>