<h1 class="transition w-full block text-center font-bold mb-6 text-3xl md:text-[2.5rem]/[2.75rem] text-black/90 dark:text-white/90">
    <slot></slot>
    <div class="h-1 w-10 bg-[var(--primary)] mt-1 mx-auto rounded-full mb-2 transition"></div>
</h1>