---
import MainGridLayout from '../layouts/MainGridLayout.astro'

import DinoMap from '@components/map/Map.svelte'
import Heading from '@components/misc/Heading.astro'
import { Icon } from 'astro-icon/components'
import I18nKey from '../i18n/i18nKey'
import { i18n } from '../i18n/translation'
---

<MainGridLayout title={i18n(I18nKey.dinoMap)}>
  <div class="card-base px-8 py-6 mb-4">
    <Icon size="96" name="triceratops" class="mx-auto" />
    <Heading>{i18n(I18nKey.dinoMapHeading)}</Heading>
  </div>
  <div class="card-base p-8 mb-4">
    <p class="font-bold transition text-lg text-center text-neutral-900 dark:text-neutral-100 relative mb-2">
      Wähle eine Land aus und die Karte zeigt Dir alle Dino's, die in dem jeweilligen Land gefunden wurden.
    </p>
    <DinoMap client:idle></DinoMap>
  </div>
</MainGridLayout>
