---

import { profileConfig } from '../config'
import { url } from '../utils/url-utils'
---

<div class="text-neutral-700 dark:text-neutral-300 border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-8 flex flex-col items-center justify-center p-6">
    <div class="text-100 text-sm">
        © 2024 {profileConfig.name}. All Rights Reserved.
    </div>
    <div class="text-100 text-sm">
        <a class="link text-[var(--primary)] font-medium" href={url('/impressum/')}>Impressum</a> /
        <a class="link text-[var(--primary)] font-medium" href={url('/datenschutz/')}>Datenschutz</a> /
        <a class="link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a>
    </div>
    <div class="text-100 text-sm">
        Powered by
        <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
    </div>
</div>
